.authentication {
  margin: 0 auto;
  /* margin: 60px auto; */
  display: flex;
  flex-direction: column;
  max-width: 396px;
  /* flex-basis: 396px; */
  /* align-items: center; */
  justify-content: center;
}

.authentication__footer {
  /* margin: 0; */
  padding: 0;
  margin: 16px 0 0;
  /* padding: 0;*/
  color: #A0A0A0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

