.profile {
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* profile inputs */
.profile__input-area {
  min-height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  border-bottom: 1px solid transparent;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.profile__input-area::before {
  content: '';
  box-sizing: border-box;
  height: 1px;
  transform: scaleX(1);
  opacity: 1;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #E8E8E8;
  transition: all 0.3s ease;
}

.profile__input-area_edit-mode:focus-within {
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.profile__input-area_edit-mode:focus-within::before {
  transform: scaleX(0);
  opacity: 0;
}

.profile__input-area:last-of-type::before {
  display: none;
}

/* profile buttons */
.profile__buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
}

.profile__logout,
.profile__edit {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  background: none;
}

.profile__edit {
  font-weight: 400;
  color: #000;
}

.profile__logout {
  font-weight: 500;
  color: #FF004D;
}

@media screen and (max-width: 767px) {
  .profile__buttons {
    margin-top: 31px;
  }
}