.techs {
  background-color: #F5F5F5;
}

.techs__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.techs__title {
  padding: 0;
  margin: 90px 0 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -.04em;
}

.techs__text {
  padding: 0;
  margin: 0;
  max-width: 460px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -.04em;
}

.techs__cards {
  margin-top: 100px;
  display: grid;
  max-width: 690px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
  gap: 10px;
}

.techs__card {
  min-height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -.04em;
}

@media screen and (max-width: 1023px) {
  .techs__title {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__cards {
    margin-top: 83px;
  }

  .techs__card {
    min-height: 57px;
    font-size: 12px;
    line-height: 14.52px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    background-color: #fff;
  }

  .techs__title {
    font-size: 30px;
    line-height: 36.31px;
    margin-top: 60px;
    margin-bottom: 24px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    max-width: 370px;
  }

  .techs__cards {
    margin-top: 50px;
  }
}

@media screen and (max-width: 479px) {
  .techs__text {
    max-width: 292px;
  }

  .techs__cards {
    max-width: 178px;
  }
}