.header {
  max-width: 100%;
  background-color: #fff;
}

.header_theme_blue {
  background-color: #465DFF;
}

.header__main-el {
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1140px;
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}