.header {
  max-width: 100%;
  background-color: #fff;
}

.header_theme_blue {
  background-color: #465DFF;
}

.header__main-el {
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}