.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}

.navbar_logged-in {
  flex-basis: 675px;
  flex-shrink: 0.68;
}

.navbar__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__link_theme_blue {
  color: #fff;
}

.navbar__link_logged-in {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.navbar__link-login {
  min-width: 76px;
  min-height: 32px;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000;
}

.navbar__link-account {
  margin-left: auto;
  min-width: 100px;
  min-height: 32px;
  background-color: #F9F9F9;
  font-size: 14px;
  border-radius: 20px;
  color: #000;
}

.navbar__link-account_active {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar__link_active {
  font-weight: 500;
}