.error-message-api {
  visibility: hidden;
  padding: 0;
  margin: 0;
  min-height: 26px;
  opacity: 0;
  color: #FF004C;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  transition: opacity 0.3s ease;
}

.error-message-api_active {
  visibility: visible;
  opacity: 1;
}