.card {
  position: relative;
  background-color: #FDFDFD;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.05);
}

.card__link {
  display: block;
  margin: 0;
  padding: 0;
}

.card__image {
  width: 100%;
  aspect-ratio: 1.785;
  object-fit: cover;
  position: relative;
}

.card__image::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(173, 170, 170);
  background-image: url('../../../images/imageNotFound.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__image:hover {
  cursor: pointer;
}

.card__image_error:hover {
  cursor: default;
}

.card__info {
  padding: 14px 12px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card__button {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card__button:hover {
  transform: scale(1.2);
}

.card__button_add {
  border-radius: 50%;
  background-image: url('../../../images/card-addIcon.svg');
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
}

.card__button_add-active {
  background-image: url('../../../images/card-addIcon_active.svg');
}

.card__button_delete {
  background-image: url('../../../images/card-removeIcon.svg');
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 85%;
}

.card__name {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  padding: 0;
  margin: 0;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}