/*normalize*/
@import url(./vendor/normalize.css);

/*font*/
@import url(./vendor/font/inter.css);

html {
  scroll-behavior: smooth;
  overflow: auto;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

* {
  outline: 2px solid red;
}

.page {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-style {
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.link-style:hover {
  opacity: .7;
}

.link-style_orange {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FF6838;
}

.list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button-style {
  padding: 0;
  outline: none;
  cursor: pointer;
  border: 0;
  transition: opacity 0.3s ease;
}

.button-style:hover {
  opacity: .8;
}
