/*normalize*/
@import url(./vendor/normalize.css);

/*font*/
@import url(./vendor/font/inter.css);

* {
  outline: 2px solid red;
}

.page {
  /* background-color: black; */
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  max-width: 1140px;
  padding: 0 70px;
  margin: 0 auto;
}

.content_centered_vertically {
  height: 100vh;
}

.link-style {
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.link-style:hover {
  opacity: .7;
}

.list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {}

.section__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -.04em;
  border-bottom: 1px solid #000;
  align-self: baseline;
  width: 100%;
}

.section__subtitle {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -.04em;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 70px 0 110px;
  padding: 0;
  gap: 40px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.two-columns__heading {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
}

.two-columns__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.schedule {
  display: flex;
}

.schedule__item {
  display: flex;
  flex-direction: column-reverse
}

.schedule__title {
  margin: 14px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
}

.schedule__text {
  margin: 0;
  padding: 0;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.schedule__item:nth-of-type(1) {
  flex-basis: 228px;
}

.schedule__item:nth-of-type(2) {
  flex-basis: 912px;
}

.schedule__item:nth-of-type(1) .schedule__text {
  background-color: #2BE080;
  /* max-width: 228px; */
}

.schedule__item:nth-of-type(2) .schedule__text {
  background-color: #F2F2F2;
  /* max-width: 912px */
}

/*общие*/
/* @import url(./blocks/page/page.css); */
/* @import url(./blocks/list-style/list-style.css); */
/* @import url(./blocks/link-style/link-style.css); */
/* @import url(./blocks/logo/logo.css); */

/*страница не найдена*/
@import url(./blocks/not-found/not-found.css);
@import url(./blocks/not-found/__title/not-found__title.css);
@import url(./blocks/not-found/__text/not-found__text.css);
@import url(./blocks/not-found/__link/not-found__link.css);
;