.authentication {
  margin: 0 auto;
  /* margin: 60px auto; */
  display: flex;
  flex-direction: column;
  max-width: 396px;
  /* flex-basis: 396px; */
  /* align-items: center; */
  justify-content: center;
}

.authentication__footer {
  /* margin: 0; */
  padding: 0;
  margin: 16px 0 0;
  /* padding: 0;*/
  color: #A0A0A0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form {
  width: 100%;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 266px;
  display: flex;
  flex-direction: column;
}

.form__submit-button {
  padding: 0;
  width: 100%;
  height: 45px;
  background-color: #FF6838;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 3px;
  transition: opacity 0.2s ease;
}

.form__submit-button:hover {
  opacity: .8;
}

.form__heading {
  margin: 40px 0 20px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form__input {
  margin-bottom: 10px;
  padding: 15px;
  height: 46px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #F9F9F9;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.form__input:focus {
  font-weight: 500;
}

.form__label {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.form__error {
  margin: 0;
  padding: 0;
  min-height: 12px;
  display: block;
  opacity: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.form__error_visible {
  opacity: 1;
}