.form {
  width: 100%;
}

.form_search {
  padding: 60px 0 70px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.form__fieldset_auth {
  display: flex;
  flex-direction: column;
  min-height: 270px;
}

.form__fieldset_search {
  min-height: 46px;
  position: relative;
}

.form__fieldset_checkbox {
  display: flex;
  justify-content: center;
}

.form__submit-button {
  padding: 0;
  margin: 0;
  background-color: #FF6838;
  cursor: pointer;
  border: 0;
  transition: opacity 0.3s ease;
}

.form__submit-button_auth {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.form__submit-button_search {
  width: 80px;
  height: 34px;
  border-radius: 40px;
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
  background-image: url('../../images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.form__submit-button:hover {
  opacity: .8;
}

.form__heading {
  margin: 40px 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form__input {
  min-height: 46px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  background-color: #F9F9F9;
  font-weight: 400;
  font-size: 13px;
  transition: box-shadow 0.3s ease-in-out;
}

.form__input_auth {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  line-height: 16px;
}

.form__input_search {
  margin-bottom: 40px;
  padding: 14px 22px;
  line-height: 17px;
  border-radius: 40px;
}

.form__input:focus {
  font-weight: 500;
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form__label {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.form__error {
  margin: 0;
  padding: 0;
  min-height: 12px;
  display: block;
  opacity: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.form__error_visible {
  opacity: 1;
}

